<div class="container-fluid">
<h1 class="well jumbotron">HEY THERE, IF YOU BREAK IT YOU BUY IT!</h1>
<p class="panel panel-primary">We Probably Have Like Six Things You Need</p>

<%= render 'productLoop' %>

</div>